services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  server:
    build:
      context: ./server
    ports:
      - "3501:3501"
    environment:
      MONGO_URI: ${MONGO_URI}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      API_KEY: ${API_KEY}
      TOKEN_SECRET: ${TOKEN_SECRET}
      MY_GROQ_KEY: ${MY_GROQ_KEY}
    depends_on:
      - mongo
      - redis

  client:
    build:
      context: ./client
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:3501
    depends_on:
      - server
