
.modal-episode {
    border-bottom: 1px solid #ddd;
  }

  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--mui-palette-background-paper, #fff);
    border: 2px solid #000;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2); 
    padding: 16px; 
  }