
.chat
{   
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #E9ECEF;

}

.chat-container{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #DEE2E6;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.contacts{
  display: flex;
  height: 90%;
  width: 30%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgb(185 209 215 / 66%);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.contacts-box{
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 25vh;
}

.contact-box{
  display: flex;
  height: 90%;
  width: 90%;
  flex-direction: column;
}

.contact{
  display: flex;
  border: 4px solid rgb(79 79 79 / 45%);
  margin-top: 10px;
  cursor: pointer;
  height: 15%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact-img{
  width: 30%;
  height: 100%;
  border-radius: 50%;
}