.search-bar-container {
    display: flex;
    width: 30%;
    padding: 50px;
    flex-direction: column;
    gap: 16px;
    height: 80vh;
    background-color: #DEE2E6;
  }

.h3-container{
  width: 0px;
  min-width: 100%;
}