.search-bar-container {
    display: flex;
    width: 300px;
    background-color: #6b7a75;
    padding: 50px;
    flex-direction: column;
    gap: 16px;
    height: 89vh;
  }

.h3-container{
  width: 0px;
  min-width: 100%;
}