body{
    display:flex;
    flex-direction: column;
}

.loginBox {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContent {
    margin-top: 1rem;
  }

  loginButton {
    margin-top: 1.5rem;
    margin-bottom: 1rem; 
  }

  avatar {
    margin: 1rem;
    background-color: #171c22;  
}
  
