.chart{
    place-content: center;
    display: flex;
    width: 100%;
    height: 90%;
    background-color: #ced4da;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    
}

.chart-container {
    width: 100%;
    height: 50%;
}